<div class="container nopd">
    <div class="join">
        <div class="j-in">
            <div class="tit">
                <h2>join us</h2>
                <p>加入我们</p>
            </div>
            <div class="jc clearfix">
                <div class="jc-1 clearfix">
                    <div class="j11 clearfix">
                        <div class="t">
                            <a href="{$fuli.website}">
                                <h3>{$fuli.name}</h3>
                                <div class="i">{$fuli.cate_des}</div>
                            </a>
                        </div>
                        <div class="p"><a href="{$env.website}"><img src="__IMG__/j11.jpg" alt=""/></a>
                        </div>
                    </div>
                    <div class="j12 clearfix">
                        <div class="t">
                            <a href="{$env.website}">
                                <h3>{$env.name}</h3>
                                <div class="i">{$env.cate_des}</div>
                            </a>
                        </div>
                        <!--vr-->
                        <div class="p">
                            <a href="https://www.expoon.com/e/j5japzd7v9p/panorama?from=singlemessage&isappinstalled=0" target="_blank">
                                <img src="__IMG__/j12.jpg" alt="全景办公环境"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="jc-2">
                    <div class="j21">
                        <a href="{$qas.website}">
                            <h3>{$qas.name}</h3>
                            <div class="i">{$qas.cate_des}</div>
                        </a>
                    </div>
                    <div class="j22 clearfix">
                        <a href="https://special.zhaopin.com/pagepublish/13643280/index.html" target="_blank">
                            <img src="__IMG__/j21.jpg" alt="求职通道"/>
                        </a>
                        <a href="https://special.zhaopin.com/pagepublish/13643280/index.html" target="_blank">
                            <img src="__IMG__/j22.jpg" alt="求职通道"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
