<!--新闻详情-->
<body class="ins_body nav_swiper news_det_body">
{include file="public/header" /}
{include file="public/banner" /}
<div class="uix-ajax-load__loader"><span></span></div>
<div id="ind_con_box" class="ind_con_box ">
    <div class="uix-ajax-load__fullpage-container">
        <section class="uix-height--100 is-mobile-still" >
            <div class="ajax-container" data-ajax-method="POST" data-ajax-page-id="1">
                <div class="js-uix-ajax-load__container">
                    <div class="uix-ajax-load__container">
                        <div class="pub_pad_left nav_three_bg none_bg pure">
                            <div class="pub_tab_box ind_news_con nav_ins_box pub_pad_right scroll-animate father" data-child=".at_on" data-delay=".05"  data-effect="fadeInUpSmall">
                                {include file="public/left_menu" /}
                            </div>
                            <div class="pub_pad_right news_det_box scroll-animate father" data-child=".at_on" data-delay=".05"  data-effect="fadeInUpSmall">
                                <img class="news_det_bg" src="__IMG__/new_007.png" alt="">
                                <div class="news_det_title_box">
                                    <div class="pure news_det_info">
                                        <span class="news_det_time">{$info.create_time|date='M d,Y',###}    |    By {$info.writer}</span>
                                        <span class="news_det_sel">
                                            {if $page.prev_id eq 0}
                                            {else /}
                                            <a href="{$page.prev_url}">Prev</a>/
                                            {/if}
                                            {if $page.next_id eq 0}
                                            {else /}
                                            <a href="{$page.next_url}">Next</a>
                                            {/if}
                                        </span>
                                    </div>
                                    <div class="news_det_title">{$info.title}</div>
                                </div>
                                <div class="news_det_con_box">
                                    {$info.content}
                                </div>
                                <div class="news_det_end">
                                    <span>The End</span>
                                </div>

                            </div>

                        </div>

                        {include file="public/footer" /}
                    </div>
                </div>
            </div>
        </section>
    </div>


</div>


<!--视频弹窗-->
<div class="video_sha sha_bg">
    <div class="sha_btn_close"><i class="newiconfont">&#xe635;</i> </div>
    <div class="sha_vid"><video class="scroll-animate" data-delay=".5"  data-effect="flipInX_slow" controls loop  playsinline="" x-webkit-airplay="" webkit-playsinline="" x5-video-player-type="h5"  ></video></div>
</div>
<!--轮播-->
<script type="text/javascript" src="__JS__/swiper.min.js"></script>
<!--监听滚动条-->
<script type="text/javascript" src="__JS__/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="__JS__/main.js"></script>
<!--滚动条-->
<script type="text/javascript" src="__JS__/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src='__JS__/classie.js'></script>
<script type="text/javascript" src="__JS__/jquery.mousewheel.js"></script>
<script type="text/javascript" src='__JS__/classie.js'></script>
<!--<script type="text/javascript" src='__JS__/jquery.parallax.js'></script>-->
<script type="text/javascript" src='__JS__/app.js'></script>
<script type="text/javascript" src='__JS__/smooth.js'></script>


<script src="__JS__/jquery.lettering.js"></script>


<script src="__JS__/jquery.textillate.js"></script>
<script src="__JS__/run.js"></script>
<script src="__JS__/TweenMax.js"></script>
<script src="__JS__/mo.min.js"></script>

<script src="__JS__/public.js"></script>
<!--<script src="__JS__/ajax-page-loader.js"></script>-->
</body>
