<div class="foot-box">
    <div class="fsc">
        <div class="left">
            <img src="__UPLOAD_PATH__/{$config.web_site_waplogo}" alt="">
            <ul>
                <li>电话：{$config.web_serviceLine}</li>
                <li>地址：{$config.web_site_address}</li>
            </ul>
        </div>
        <div class="right">
            <img src="__UPLOAD_PATH__/{$config.web_site_qrcode}" alt="">
            <div>扫一扫关注</div>
        </div>
    </div>
</div>
<div class="foot-bottom">
    {$config.web_site_copy}
</div>